<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getsucode.siagagempacianjur">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MariBerdoa">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5301776565080135~6894913937" />

        <activity
            android:name=".ToolbarMenu.TermofServiceDetail"
            android:exported="false" />
        <activity
            android:name=".ToolbarMenu.PrivacyPolicyDetail"
            android:exported="false" />
        <activity
            android:name=".ToolbarMenu.Feedback"
            android:exported="false" />
        <activity
            android:name=".ToolbarMenu.About"
            android:exported="false" />
        <activity
            android:name=".Main.InfoBMKG.WebBMKG"
            android:exported="false" />

        <activity
            android:name="com.getsucode.siagagempacianjur.Main.JenisGempa.DaftarSkala.Skala.Skala_I_activity"
            android:exported="false" />
        <activity
            android:name="com.getsucode.siagagempacianjur.Main.JenisGempa.DaftarSkala.Skala.Skala_II_activity"
            android:exported="false" />
        <activity
            android:name="com.getsucode.siagagempacianjur.Main.JenisGempa.DaftarSkala.Skala.Skala_III_activity"
            android:exported="false" />
        <activity
            android:name="com.getsucode.siagagempacianjur.Main.JenisGempa.DaftarSkala.Skala.Skala_IV_activity"
            android:exported="false" />
        <activity
            android:name="com.getsucode.siagagempacianjur.Main.JenisGempa.DaftarSkala.Skala.Skala_V_activity"
            android:exported="false" />
        <activity
            android:name="com.getsucode.siagagempacianjur.Main.JenisGempa.DaftarSkala.Skala.Skala_VI_activity"
            android:exported="false" />
        <activity
            android:name="com.getsucode.siagagempacianjur.Main.JenisGempa.DaftarSkala.Skala.Skala_VII_activity"
            android:exported="false" />
        <activity
            android:name="com.getsucode.siagagempacianjur.Main.JenisGempa.DaftarSkala.Skala.Skala_VIII_activity"
            android:exported="false" />
        <activity
            android:name="com.getsucode.siagagempacianjur.Main.JenisGempa.DaftarSkala.Skala.Skala_IX_activity"
            android:exported="false" />
        <activity
            android:name="com.getsucode.siagagempacianjur.Main.JenisGempa.DaftarSkala.Skala.Skala_X_activity"
            android:exported="false" />
        <activity
            android:name="com.getsucode.siagagempacianjur.Main.JenisGempa.DaftarSkala.Skala.Skala_XI_activity"
            android:exported="false" />
        <activity
            android:name="com.getsucode.siagagempacianjur.Main.JenisGempa.DaftarSkala.Skala.Skala_XII_activity"
            android:exported="false" />
        <activity
            android:name=".Main.JenisGempa.DaftarSkala.DaftarSkalaGempa"
            android:exported="false" />
        <activity
            android:name=".Main.TentangGempa.DetailTentangGempa.DetailTipsGempa"
            android:exported="false" />
        <activity
            android:name=".Main.TentangGempa.TentangGempa"
            android:exported="false" />
        <activity
            android:name=".Main.EkitApp"
            android:exported="false" />
        <activity
            android:name=".Main.Splash"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.Menu"
            android:exported="false" />
    </application>

</manifest>